
<form>  
<br>
</form>

<div class="btn-group" role="group" aria-label="Basic radio toggle button group"  >
    
    
    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked (change)="sortfunc()">
    <label class="btn btn-outline-primary" for="btnradio1">A- Z</label>
  
    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" (change)="sortfunc2()">
    <label class="btn btn-outline-primary" for="btnradio2" > Z- A</label>
    
</div>
<form>  
    <br>
</form>

<app-cardreview 
    *ngFor=" let review of reviews" 
    (deleteEvent)="deleteReview($event)"    
    [review]="review">
</app-cardreview>

<app-addreview 
    (addReviewEvent)="addReview($event)">    
</app-addreview>
