<form>
    <input class = "form-control" 
    placeholder="Name"
    [(ngModel)]="text"
    name="text"
    (change)="enableButton($event)"
    /> 

    <p *ngIf="text.length > 0">       
    </p>
</form>
<form (ngSubmit)="addReview()">
    <input 
    class = "form-control" 
    placeholder="Description"
    [(ngModel)]="text2"
    name="text2"
    (change)="enableButton($event)"/>
    
    <br/>
    <button class="btn btn-primary btn-sm" id="button1" [disabled]="true" style="float: right;" type="submit">Add</button>
    <br/>
</form>
