<div class="container" >
    <div class="row"> 
        <div class="container" >    
            <div class="left"> 
                <p id="edit" [contentEditable]="contentEditable" ><b>
                      {{review.text}}
                </b></p>        
            </div>
            <div class="right" >
                <div class="btn-group">   
                    <button 
                        id="edit-button" 
                        type="button" 
                        class="btn btn-primary btn-sm" 
                        data-toggle="button" 
                        (click)="edit(review)">
                            Edit
                    </button>
                    <button 
                        class="btn btn-danger btn-sm" 
                        (click)="delete(review)" >
                            Delete
                    </button>
                </div>
            </div>
        </div>  
    </div>
    <div class="row-2">
        
        <p id="pdescription" [contentEditable]="contentEditable" style="color: #797979;">    
            description : {{review.description}}
        </p> 
      
        <div class="btn-group">         
            <button 
                id="save-button"  
                type="button" 
                class="btn btn-primary btn-sm"  
                [ngClass]="[bntStyle]"
                (click)="save(review)">
                    Save
            </button>   
        </div>
    </div>
</div>
<div>
    <br/>
</div>
