
.container{
    background:#e4e3d4;
    padding: 12px;
    border-radius: 10px;
}
.btn-default { 
    display: inline;
  }
  
.btn-change { 
    display: none;
}

.left {
    float: left;
   
}
  
.right {
    float: right;
    text-align: right;
    
}